@using System.Collections.Generic;

@using PierreSweetandSalty.Models
@model PierreSweetandSalty.Models.Treat
<div class ="jumbotron">
<h2>Edit</h2>
</div>
<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    
    <br>

    @Html.Label("Flavor")
    @Html.DropDownList("FlavorId", string.Empty)<br>

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Treat Home page", "Index")</p>