@{
    ViewData["Title"] = "Home Page";
}

<div class ="jumbotron">
<h1>Pierre's Sweet and Salty Shop!</h1>
</div>
<div class = "Content">
    <h3> Welcome to Pierre's sweet and Salty Shop where you can customize your favorite treats at the click of a button! What are you waiting for?  User? sign in/out or register with the Im </h3>
 <div class ="nav- bar">   
<p>@Html.ActionLink("Log in to my account", "Login", "Account")</p>
<p>@Html.ActionLink("Register as a new user", "Register", "Account")</p>
<p>@Html.ActionLink("Log out", "Index", "Account")</p>
<p>@Html.ActionLink("See all favorite flavors here!", "Index", "Flavors")</p>
<p>@Html.ActionLink("See all your personalized Treats", "Index", "Treats")</p>
</div>